@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Aplica la fuente a todo el documento */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: 'Pixelify Sans', sans-serif;
}

.navbar {
  z-index: 9999 !important; /* Asegura que esté por encima de otros elementos */
  /* Otros estilos de la barra de navegación */
}
/* Header barra de navegacion estilos */ 

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  
}

.nav-link {
  font-weight: 400;
}

/* Importación de UI Designer */
.radio-inputs {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.radio-inputs .radio {
  margin-right: 1rem;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  padding: 0.5rem 0.8rem;
  color: #ffffff;
  transition: all 0.15s ease-in-out;
  position: relative;
  cursor: pointer;
}

.radio-inputs .radio input:checked + .name {
  background-color: #212529;
  font-weight: 600;
  color: #ffffff;
  text-decoration: underline; 
}

.radio-inputs .radio .name:hover {
  color: #fff;
}

.radio-inputs .radio input:checked + .name:hover {
  color: #6acd4c;
}
