@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Aplica la fuente a todo el documento */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: 'Pixelify Sans', sans-serif;
}

.navbar {
  z-index: 9999 !important; /* Asegura que esté por encima de otros elementos */
  /* Otros estilos de la barra de navegación */
}
/* Header barra de navegacion estilos */ 

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  
}

.nav-link {
  font-weight: 400;
}

/* Importación de UI Designer */
.radio-inputs {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.radio-inputs .radio {
  margin-right: 1rem;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  padding: 0.5rem 0.8rem;
  color: #ffffff;
  transition: all 0.15s ease-in-out;
  position: relative;
  cursor: pointer;
}

.radio-inputs .radio input:checked + .name {
  background-color: #212529;
  font-weight: 600;
  color: #ffffff;
  text-decoration: underline; 
}

.radio-inputs .radio .name:hover {
  color: #fff;
}

.radio-inputs .radio input:checked + .name:hover {
  color: #6acd4c;
}

/*Estilos de main */
#perfil {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to top, #6acd4c 0%, #6acd4c  15%, #212529 15%, #212529 100% );
}
/*Estilos de carta en css*/
/* Estilos de carta */
.card {
  position: relative;
  width: 220px;
  height: 320px;
  background: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
}

.card::before{
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card:hover::before,
.card:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

/* Contenido adicional oculto */
.main-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  gap: 0.5em;
}

/* Mostrar contenido adicional al hacer hover */
.card:hover .main-content { 
  display: flex;
}

/* Estilos para botones */
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up, .down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1, .card2, .card3, .card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram, .twitter, .github, .discord {
  width: 30px;
  height: 30px;
}

.card1:hover {
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  background-color: #03A9F4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}
/* Contenido de el hover */

#informacion p {
  font-style: italic;
  font-size: 30px;
  color: white;
  margin-top: -5px; /* Ajustar si es necesario */
  position: relative; /* Asegura que el span esté posicionado en relación con este párrafo */
}

#informacion span {
  color: #6acd4c;
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
}

#contenedorperfil{
  position: relative;
  width: 232px;
  height: 400px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ;
}

#bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 222px;
  height: 390px;
  z-index: 2;
  background: #212529;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline:1px solid #212529;
}

#blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #6acd4c;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

#habilidades{
  min-height: 100vh;
  width: 100%;
  background:#6acd4c
}
